<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.hawatel.awscognitoionic526153" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>aws-cognito-ionic-demo</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="przemyslaw.mantaj@hawatel.com" href="https://www.hawatel.com/">
      Przemyslaw Mantaj
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
