<ion-view view-title="Register" name="login-view">
  <ion-content class="padding">
    <form name="form" ng-submit="register()" novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input
            type="text"
            name="email"
            ng-model="user.email"
            ng-minlength="5"
            placeholder="Email"
            required >
        </label>

        <label class="item item-input">
          <input
            type="password"
            name="password"
            ng-model="user.password"
            ng-minlength="8"
            placeholder="Password"
            required>
        </label>
      </div>

      <div ng-messages="form.email.$error" ng-if="form.email.$touched">
        <p ng-message="required">* Email is required</p>
        <p ng-message="minlength">* Email must be longer than 5 characters</p>
      </div>

      <div ng-messages="form.password.$error" ng-if="form.password.$touched">
        <p ng-message="required">* Password is required</p>
        <p ng-message="minlength">* Password must be longer than 8 characters</p>
      </div>

      <div class="padding">
        <div class="error" ng-show="error.message">
          {{ error.message }}
        </div>

        <button type="submit" class="button button-block button-positive"
          ng-disabled="form.$invalid">
          <span>Create Account</span>
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
